/* Your existing CSS styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    text-align: center;
  }
  
  .calculator-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .input-field,
  label {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  label {
    color: red;
  }
  
  .input-field {
    color: black;
  }
  
  .input-row {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
  }
  
  /* Adjust the position and spacing between the elements in the input row */
  .input-row label,
  .input-row input {
    margin-right: 5px;
  }
  
  .fa-plus {
    margin-left: 200px; /* Move the plus sign more to the right */
    margin-top: -10px;
  }
  
  .submit-btn {
    display: block;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto; /* Center the Submit button */
    margin-right: auto; /* Center the Submit button */
  }
  
  .submit-btn-container {
    text-align: center;
  }
  
  .result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    text-align: left;
  }
  